{:paths ["resources" "src"]
 :deps {org.clojure/tools.cli {:mvn/version "0.3.5"}}
 :aliases {;; Run with clj -T:build function-in-build.clj
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}}
                   :ns-default build}
           :dev {:extra-paths ["dev"]}
           :deps-new {:main-opts ["-m" "deps-new.core"]}
           :test
           {:extra-paths ["test" "test/resources"]
            :extra-deps
            {org.clojure/test.check {:mvn/version "0.10.0"}
             com.github.clojure-expectations/clojure-test
             {:git/sha "3a2188d"
              :git/tag "v2.0.165"}
             com.github.pjstadig/humane-test-output
             {:git/tag "0.11.0"
              :git/sha "063ee9f"}}}
           :runner
           {:extra-deps
            {com.github.cognitect-labs/test-runner
             {:git/tag "v0.5.1"
              :git/sha "dfb30dd"}}
            :extra-paths ["test"]
            :main-opts ["-m" "cognitect.test-runner" "-d" "test"]}}}